

/* ********************* Section 1 ****************************/
/* Image Sliders */
.slide-container {
    width: 100%;
    margin: auto; }

h3 {
    text-align: center; }

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;
}

.each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}

.each-fade {
    display: flex;
}

.each-fade .image-container {
    width: 100%;
    overflow: hidden;
}

.each-fade .image-container img {
    width: 100%;
}

.each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
}
/* ********************* Section 2 ****************************/
.card-img {
    /*width:350px;*/
    height:300px;
}
.best_list {
    font-family: 'monospace', 'sans-serif' !important;
}
.best_card a, .best_card a:hover, .best_card:visited {
    text-decoration: none !important;
    color: inherit !important;
}
.title { 
    padding-bottom: 10px !important;
}
.card-footer input {
    display: inline-block;
}
.card-footer  button {
    margin-left: 10px;
}
/* ********************* Section 3 ****************************/
/*Video Player*/
.video-wrapper {
    min-height: 225px;
    background-color:#000;
}
.video-wrapper > div {
    margin: 0 auto;
}

/* ********************* Section 4 ****************************/
.banner-image > img {
    width:100%;
}