.navbar {
    min-height: 70px;
    
}
.nav-bolder a {
    font-weight: 500;
    font-size: 16px;
    color: #5d5a5a !important;
}
.nav-link {
    font-size:14px;
}
.dropdown_menu a{
    color: #5d5a5a;
    text-decoration: none;
}